@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,600&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--border-color: #afabc6;
	--table-background-color: #f2edd0;
	--font-color: #151f68;
}

body {
	font-family: 'Roboto Flex', sans-serif;
	color: var(--font-color);
}
.page-title {
	width: 80vw;
	margin: auto;
}

.container {
	width: 80vw;
	margin: 24px auto;
	border: 1px var(--border-color) solid;
	border-radius: 16px;
}
@media screen and (max-width: 480px) {
	.container {
		width: auto;
		margin: 20px;
	}
}

.search-container {
	display: flex;
	align-items: center;
	border-bottom: 1px var(--border-color) solid;
	padding: 8px;
}
.search-container svg {
	font-size: 24px;
}
.search-field {
	width: 100%;
	margin-left: 4px;
	padding: 4px 0;
	border: none;
	background-color: transparent;
}
.search-field:focus {
	outline: none;
}
.titles {
	display: flex;
	justify-content: space-between;
}

.titles h4 {
	width: 33.3%;
	padding: 8px;
	text-align: center;
}

.bodies {
	display: flex;
	justify-content: space-between;
	padding: 8px;
	border-bottom: 1px var(--border-color) solid;
	transition: all 0.1s ease-in-out;
}
.bodies:first-child {
	border-top: 1px var(--border-color) solid;
}
.bodies:last-child {
	border: none;
	border-radius: 0 0 16px 16px;
}

.bodies:hover {
	background-color: var(--table-background-color);
	cursor: pointer;
}

.bodies p {
	width: 33.3%;
	padding: 8px;
	text-transform: capitalize;
	text-align: center;
}

.notFound-container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.notFound {
	font-size: 50px;
	text-align: center;
}

.notFoundLink {
	font-size: 32px;
}
